a {
  text-decoration: none;
}

.winning {
  margin-top: 4em;
  width: 80%;
}

.winning > div > a > div {
  margin-top: 2em;
  background: #562c2c;
  border: 0.8em solid #562c2c;
  border-radius: 20px;
  transition: all 300ms ease;
  color: white;
  width: 250px;
}

.winning > div > a > div p {
  font-size: 1.2em;
  padding: 0.5em 1.8em 0.5em 1.8em;
  margin: 0;
  background: #261E1c;
  border: 0.8em solid #261E1c;
  border-radius: 20px;
  cursor: pointer;
}

.winning > div > a > div:hover {
  color: #b80117;
  background: #683232;
  border-color: #683232;
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
}