.game-main img:first-child {
  margin-top: 1em;
}

.game-container {
  margin: 1em;
  background: #562c2c;
  border: 1.5em solid #562c2c;
  border-radius: 20px;
  width: 900px;
}

.game-container > div:first-child {
  overflow: hidden;
  position: relative;
  height: 444px;
  padding: 1em;
  border: 1em solid #261E1c;
  border-radius: 20px;
  background-image: url('../img/game-bg-pattern.png');
  overflow: hidden;
}

.game-container > div:first-child .pipe1, .game-container > div:first-child .pipe2, .game-container > div:first-child .pipe3 {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  width: 46px;
  height: 246px;
}

.game-container > div:first-child .pipe1 {
  left: -281px;
  top: 95px;
  background-image: url('../img/game-pipe.png');
}

.game-container > div:first-child .pipe2 {
  left: -228px;
  top: 95px;
  background-image: url('../img/game-pipe.png');
}

.game-container > div:first-child .pipe3 {
  left: -179px;
  top: 95px;
  background-image: url('../img/game-pipe.png');
}

.game-container > div:first-child .key-box {
  display: inline-block;
  position: relative;
  left: -79px;
  top: -669px;
  width: 310px;
  height: 104px;
}

.game-container > div:first-child .key-box img{
  margin: 13px 11px 0 11px;
}

.game-container > div:first-child .btm-layer {
  position: relative;
  top: -242px;
}

.game-container > div:first-child .btn1, .game-container > div:first-child .btn2, .game-container > div:first-child .btn3 {
  display: inline-block;
  background-image: url('../img/game-button.png');
  position: relative;
  width: 96px;
  height: 96px;
  cursor: pointer;
}

.game-container > div:first-child .btn1:hover, .game-container > div:first-child .btn2:hover, .game-container > div:first-child .btn3:hover {
  background-image: url('../img/game-button-hover.png');
}

.game-container > div:first-child .btn1:active, .game-container > div:first-child .btn2:active, .game-container > div:first-child .btn3:active {
  background-image: url('../img/game-button-click.png');
}

.game-container > div:first-child .btn1 {
  left: 1px;
  top: -497px;
}

.game-container > div:first-child .btn2 {
  left: 21px;
  top: -497px;
}

.game-container > div:first-child .btn3 {
  left: 43px;
  top: -497px;
}

.game-container > div:first-child .timer-box {
  position: relative;
  display: flex;
  align-items: center;
  left: 27px;
  top: -478px;
  width: 322px;
  height: 100px;
}

.game-container > div:first-child .timer-box .timer {
  flex: 0 1 50%;
  padding: 0.5em;
}

.game-container > div:first-child .timer-box .killcode {
  flex: 0 1 50%;
  padding: 1em 0.5em 1em 0.5em;
  border-left: 4px dotted #562c2c; 
}

.killcode fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.killcode fieldset input {
  margin-top: 0.5em;
}

.submit-code {
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 300ms ease;
  color: #261E1c;
}

.submit-code:hover {
  color: #b80117;
}

.riddle-container {
  width: 900px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.riddle-container div:first-child {
  flex: 0 0 70%;
  min-height: 150px;
  box-sizing: border-box;
  border: 1em solid #874F1D;
  border-radius: 15px;
  padding: 1em;
  background-color: #d1a056;
}

.riddle-container div:last-child {
  flex: 0 0 30%;
  box-sizing: border-box;
}

.riddle-container div:last-child ul {
  list-style-type: none;
  padding: 0;
}

.riddle-container div:last-child ul li {
  margin: 1em auto 1em auto;
  width: 150px;
  background: #562c2c;
  border: 0.5em solid #562c2c;
  border-radius: 10px;
  transition: all 300ms ease;
  color: white;
}

.riddle-container div:last-child ul li p {
  font-size: 1em;
  margin: 0;
  background: #261E1c;
  border: 0.5em solid #261E1c;
  border-radius: 10px;
  cursor: pointer;
}

.riddle-container div:last-child ul li:hover {
  color: #b80117;
  background: #683232;
  border-color: #683232;
}
