/* * {
  outline: 1px solid white;
} */

main {
  text-align: center;
}

.logo {
  margin-top: 1em;
  margin-bottom: 1em;
}

.index-form-section {
  width: 342px;
  background: #f2b85c;
  border: 1em solid #874F1D;
  border-radius: 15px;
}

.index-form-section form, .welcome {
  width: 81%;
}

.index-form-section fieldset {
  border-width: 0px;
  text-align: left;
}

.index-form-section ul, .index-buttons ul {
  list-style-type: none;
  padding-left: 0px;
}

.index-form-section ul li:first-child label {
  margin-right: 1em;
}

.index-form-section ul li:nth-child(2) label {
  margin-right: 1.2em;
}

.welcome-msg {
  display: none;
}

.index-buttons ul li {
  margin: 1em;
  display: inline-block;
  padding: 1em;
  background: black;
  color: white;
  border: 1em solid darkred;
  border-radius: 10px;
}

#rules {
  display: none;
}