@import 'index.css';
@import 'fonts.css';
@import 'game.css';
@import 'about.css';
@import 'gamelose.css';
@import 'gamewin.css';

/* color guide */
.site-yellow  {color: #d1881b}
.site-brown   {color: #874F1D}
.site-black   {color: #261E1c}

/* global css */
.bg {
  background-image: url('../img/bgpattern.jpg');
  background-size: contain;
}

.txt-center {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}